@charset "UTF-8";
    *{
            margin:0;
            padding: 0;
            list-style: none;
            font-family: sans-serif;
    }
    header{
            position: relative;
            margin: 20px auto;
            width: 1000px;
            height: 120px;
    }
    #logo{
            position: absolute;
            top: 30px;
            left: 90px;
            bottom: 0;
            right: 0;
            width: 200px;
            height: 60px;
            font-size: 50px;
            font-family: arial;
            text-align: center;
            line-height: 60px;
    }
    .redes{
            position: absolute;
            width: 30px;
            height: 30px;
            background: #ccc;
            border-radius: 100%;
            text-align: center;
            line-height: 42px;
            color:white;
    }
    #icono1{
    top:42px;
    right: 120px;
    background: blue;
    }
    #icono2{
    top:42px;
    right: 71px;
    background: lightblue;
    }
    #icono3{
    top:42px;
    right: 19px;
    background: magenta;
    }
    nav{
            position: relative;
            margin: auto;
            width: 1000px;
            height: 48px;
    }
    .socicons-list {
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: right;
          height: 70vh;
        }
        .socicons-list li {
          margin: 30px 10px;
        }
        .socicons-list li a {
          text-decoration: none;
          padding: 30px;
            font-size: 30px;
          border-radius: 50%;
          color: #fff;
            background-color: #f1f1f1;
          transition: all ease-in-out 150ms;
        }
        .socicons-list li a:hover {
        text-shadow: 0 5px 10px #212121;
        }

        .socicons-list li:nth-child(1) a {
            top:42px;
            right: 120px;
            background-color: #3e5b98;
        }
        .socicons-list li:nth-child(2) a {
            top:42px;
            right: 71px;
            background-color: #c13584;
        }
        .socicons-list li:nth-child(3) a {
            top:42px;
            right: 19px;
            background-color: #4da7de;
        }

    .botones{
            float: right;
            width: 1000px;
            height: 48px;
            margin: 0 2px;
            background: graytext;
            font-family: times new roman;
            color: black;
            text-align: center;
            line-height: 48px;
    }
    #top{
            position: relative;
            margin: 20px auto;
            width: 1000px;
            height: 192px;
    }
    #top ul{
            width: 1010px;
            height: 192px;
    }

    #top ul li{
            float: left;
            width: 326px;
            height: 193px;
            margin-right: 10px;
            text-align: center;
    }
    #top ul li img{
            border-radius: 100%;
            height: 100px;
    }
    #top ul li h1{
            font-family: Arial;
    }
    #top ul li p{
            font-size: 14px;
            margin:10px;
    }
    section{
            position: relative;
            margin: auto;
            width: 1000px;
            height: 453px;
            background: white;
    }
    aside#izq{
            position: absolute;
            left:0;
            top:0;
            width: 200px;
            height: 453px;
            background: white;
    }
    article{
            position:absolute;
            left: 200px;
            top:0;
            width: 600px;
            height: 453px;
            background: gray;
    }
    aside#der{
            position: absolute;
            left:0;
            right:0;
            width: 200px;
            height: 453px;
            background: white;
    }

    footer{
            position: relative;
            margin: 20px auto;
            width: 1000px;
            height: 70px;
            background: #888;
    }
